{% extends "base.html" %}

{% block content %}
    
    <div class="row mt-5">
        <div class="col-xxl-8 m-auto">
            <div class="card mb-3">
                <h5 class="card-header">{{ object.author.username }}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{ object.title }}</h5>
                    <p class="card-text">{{ object.text}}</p>
                    
                </div>
            </div>  
        </div>
    </div>
{% endblock content %}

